@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#toast {
  display: none; /* Hidden by default */
}

#admin-dropdown {
  z-index: 50; /* Ensure it appears above other elements */
  min-width: 10rem;
}


@media screen and (max-width: 480px) {

  #food-menu{
    padding: 2rem;
  }
  
  }






/* Horizontal Rule */
 hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}



/* App Banner Section */
.app-banner {
    
    text-align: center;
    padding: 80px 0px;
    margin-top: 20px;
}

.app-banner h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.app-store-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.app-store-buttons img {
    width: 150px;
    height: auto;
}

/* Hide the default cursor */
#explore-menu {
    cursor: none; /* Remove the default cursor */
}

/* Custom cursor text styles */
#custom-cursor {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 500;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none; /* Initially hidden */
}

